-
  var imgSrc = {
    specialContents: {
      bg: {
        path: `${IMG_PATH}/special-content.png`
      },
      q1: {
        path: `${IMG_PATH}/special-content-q1.gif`
      },
      q2: {
        path: `${IMG_PATH}/special-content-q2.gif`
      },
      q3: {
        path: `${IMG_PATH}/special-content-q3.gif`
      },
      q4: {
        path: `${IMG_PATH}/special-content-q4.gif`
      },
      q5: {
        path: `${IMG_PATH}/special-content-q5.gif`
      },
    }
  }

section#special-contents.special-contents
  .content
    .special-contents__layout
      div
        h1.heading.special-contents__heading
          | SPECIAL
          br.is-sp
          | CONTENTS
        p.special-contents__description
          | ～ワインクイズ～
          br
          | ビクトールさんを探してクイズに挑戦 !!
      .designation
        h2 称号
        .designation__result
          dl
            dt 5問正解
            dl C.V.N.E.マイスター
          dl
            dt 3問正解
            dl C.V.N.E.プロフェッサー
          dl
            dt 1問正解
            dl C.V.N.E.ファン
    .special-contents__quiz
      .p.special-contents__quiz__wrap
        img(src=`${imgSrc.specialContents.bg.path}`)
        a.gif.gif01(href='#quiz1')
          img(src=`${imgSrc.specialContents.q1.path}`)
          .balloon
            span Quiz
            span 1
        a.gif.gif02(href='#quiz2')
          img(src=`${imgSrc.specialContents.q2.path}`)
          .balloon
            span Quiz
            span 2
        a.gif.gif03(href='#quiz3')
          img(src=`${imgSrc.specialContents.q3.path}`)
          .balloon
            span Quiz
            span 3
        a.gif.gif04(href='#quiz4')
          img(src=`${imgSrc.specialContents.q4.path}`)
          .balloon
            span Quiz
            span 4
        a.gif.gif05(href='#quiz5')
          img(src=`${imgSrc.specialContents.q5.path}`)
          .balloon
            span Quiz
            span 5
