-
  var imgSrc = {
    specialContents: {
      bg: {
        path: `${IMG_PATH}/special-content.png`
      },
      q1: {
        path: `${IMG_PATH}/special-content-q1.gif`
      },
      q2: {
        path: `${IMG_PATH}/special-content-q2.gif`
      },
      q3: {
        path: `${IMG_PATH}/special-content-q3.gif`
      },
      q4: {
        path: `${IMG_PATH}/special-content-q4.gif`
      },
      q5: {
        path: `${IMG_PATH}/special-content-q5.gif`
      },
      icon: {
        path: `${IMG_PATH}/sp/special-content-icon.png`
      },
    }
  }

section#special-contents.special-contents
  .content
    .special-contents__layout
      div
        h1.heading.special-contents__heading
          span SPECIAL
          br.is-sp
          | CONTENTS
        p.special-contents__description
          | ～ワインクイズ～
          br
          | ビクトールさんを探してクイズに挑戦 !!
      .designation
        h2 称号
        .designation__result
          dl
            dt 5問正解
            dl C.V.N.E.マイスター
          dl
            dt 3問正解
            dl C.V.N.E.プロフェッサー
          dl
            dt 1問正解
            dl C.V.N.E.ファン
    .special-contents__quiz.js-quiz-area
      .icon.js-icon
        img(src=`${imgSrc.specialContents.icon.path}`, alt='スクロールできます')
      .p.special-contents__quiz__wrap
        a.gif.gif01.js-bubble.js-bubble-01(href='#quiz-1')
          img(src=`${imgSrc.specialContents.q1.path}`)
          .balloon
            span Question
            span 1
        a.gif.gif02.js-bubble.js-bubble-02(href='#quiz-2')
          img(src=`${imgSrc.specialContents.q2.path}`)
          .balloon
            span Question
            span 2
        a.gif.gif03.js-bubble.js-bubble-03(href='#quiz-3')
          img(src=`${imgSrc.specialContents.q3.path}`)
          .balloon
            span Question
            span 3
        a.gif.gif04.js-bubble.js-bubble-04(href='#quiz-4')
          img(src=`${imgSrc.specialContents.q4.path}`)
          .balloon
            span Question
            span 4
        a.gif.gif05.js-bubble.js-bubble-05(href='#quiz-5')
          img(src=`${imgSrc.specialContents.q5.path}`)
          .balloon
            span Question
            span 5
  .remodal(data-remodal-id='quiz-1', data-remodal-options='modifier: quiz-modal')
    div
      .quiz-modal__title Question
      .quiz-modal__number 1
      .quiz-modal__question 「クネ クリアンサ」はどこのワインでしょうか？
      ul
        li.button.js-open-answer フランス
        li.button.js-open-answer スペイン
      .quiz-modal__content.js-answer
        .quiz-modal__title Answer
        .quiz-modal__answer スペイン
        .quiz-modal__description スペインはブドウの栽培面積においては世界一！フランスやイタリアに並ぶワイン大国です。
    .cancel(data-remodal-action='cancel')
  .remodal(data-remodal-id='quiz-2', data-remodal-options='modifier: quiz-modal')
    div
      .quiz-modal__title Question
      .quiz-modal__number 2
      .quiz-modal__title C.V.N.E.（クネ）社の設立年は？
      ul
        li.button.js-open-answer 1879年
        li.button.js-open-answer 1979年
      .quiz-modal__content.js-answer
        .quiz-modal__title Answer
        .quiz-modal__answer 1879年
        .quiz-modal__description C.V.N.E.（クネ）社は1879年の設立から、「最高のワインを造ること」をモットーに、常に最良のワインを造り続けています。
    .cancel(data-remodal-action='cancel')
  .remodal(data-remodal-id='quiz-3', data-remodal-options='modifier: quiz-modal')
    div
      .quiz-modal__title Question
      .quiz-modal__number 3
      .quiz-modal__title ビクトール氏は、何代目？
      ul
        li.button.js-open-answer 3代目
        li.button.js-open-answer 5代目
      .quiz-modal__content.js-answer
        .quiz-modal__title Answer
        .quiz-modal__answer 5代目
        .quiz-modal__description ビクトール氏は5代目C.E.O.として、「最高のワインを世界中の人に知ってもらうこと」を目標に、スペインを代表するワインを造り続けています。
    .cancel(data-remodal-action='cancel')
  .remodal(data-remodal-id='quiz-4', data-remodal-options='modifier: quiz-modal')
    div
      .quiz-modal__title Question
      .quiz-modal__number 4
      .quiz-modal__title C.V.N.E.（クネ）社の創業の地であり、現在も拠点にしている地は？
      ul
        li.button.js-open-answer リオハ
        li.button.js-open-answer バルセロナ
      .quiz-modal__content.js-answer
        .quiz-modal__title Answer
        .quiz-modal__answer リオハ
        .quiz-modal__description 「リオハ」はスペインの高級ワイン生産地として有名です。
    .cancel(data-remodal-action='cancel')
  .remodal(data-remodal-id='quiz-5', data-remodal-options='modifier: quiz-modal')
    div
      .quiz-modal__title Question
      .quiz-modal__number 5
      .quiz-modal__title 「クネ クリアンサ」の味わいは？
      ul
        li.button.js-open-answer エレガントで飲みやすい
        li.button.js-open-answer バランスの良い酸味が秀逸
      .quiz-modal__content.js-answer
        .quiz-modal__title Answer
        .quiz-modal__answer 両方正解
        .quiz-modal__description エレガントかつ、若々しいスパイスの香りとバランスの良い酸味が見事な「クネ クリアンサ」は、世界No.1を獲得したクネの果実味溢れるスタンダードワインです。
    .cancel(data-remodal-action='cancel')
